@charset "UTF-8";


.board{
	width: 800px;
	margin: 50px auto;
}

.board-table{
	clear:both;
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid black;
	text-align: center;
	border-spacing: 0;
	height: 30px;
}

.board-title{
	text-align: left;

}

.number{
	text-align: center;
	margin: 20px auto;
}
.board-table tr{
	border-bottom: 1px solid black;
	height: 30px;
}

