@charset "UTF-8";

.contact{
	width: 805px;
	margin: 50px auto;
}

.contactForm{
	width: 400px;
	height: 510px;
	margin: auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.contactView{
	width: 400px;
	height: 510px;
	margin: auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	display: inline-block;
}

.title{
	width: 400px;
	margin: 0 300px;
	font-weight: bold;
	padding: 10px 0px 8px 35px;
}

.list-row {
	height: 50px;
	list-style:none;
}

.list-row li {
	padding-left: 10px;
	line-height: 37px;
	text-align: left;
}

.col-sub {
	width: 60px;
	display: inline-block;
	color: #999;
}

.col-sub2{
	width: 65px;
	display: inline-block;
	color: #999;
}

.col-input {
	width: 134px;
	display: inline-block;
}

.col-input input{
	width: 120px;
}

.col-input .sub{
	width: 320px;
}

.col-input2 {
	width: 105px;
	display: inline-block;
}

.col-input3 {
	width: 300px;
	display: inline-block;
}

.col-input3 input{
	width: 310px;
	height: 28px;
}

.col-input3 textarea{
	padding: 10px;
	width: 391px;
	height: 202px;
}

.col-text {
	width: 380px;
	height: 200px;
	overflow: overlay;
	border: 1px solid black;
	margin: 0 10px;
}

.boxTF {
	border:1px solid #999999;
	padding:4px 5px 5px;
	border-radius:4px;
}
.selectField {
	height: 45px;
	width: 118px;
	border: none;
	border-bottom: 2px solid #999999;
	text-align: center;
	font-size: 15px;
}

textarea{
	padding : 10px;
}

