@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

*{
	padding: 0; margin: 0;
    font-family: IM_Hyemin-Bold;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-box{
	width: 50px; height: 30px;
	border: 2px solid white;
	background: white;
}


.header-top {
    margin:0px auto;
    width: 1080px;
    height: 60px;
    clear: both;
}

.header-center {
    width: 300px;
    height: 60px;
    padding: 0 auto;
    float: left;
}

.header-right {
    width: 780px;
    height: 60px;
    float: left;
}

/* menu */
.menu {
    margin:0px auto;
    width: 660px;
    min-height: 40px;
    clear: both;
    box-sizing: border-box;
    float: left
}

ul.nav {
  width:100%;
  margin-left: 50px;
  padding: 0;
  list-style: none;
}

ul.nav2 {
  padding: 10px;
  list-style: none;
  text-align: right;
}

ul.nav li { 
  display: inline;
}

ul.nav li a {
  float: left;
  line-height: 40px;
  color: #7B241C;
  text-decoration: none;
  margin: 0;
  padding: 0 20px;
}

ul.nav .current a, ul.nav li:hover > a {
  color: #333333;
  font-weight : 900;
  text-decoration: none;
}

ul.nav ul {
  display: none;
}

ul.nav li:hover > ul {
  position: absolute;
  display: block;
  width: 700px;
  height: 40px;
  margin: 40px 0 0 -1px;
  z-index: 101;
  box-sizing: border-box;
}

ul.nav li:hover > ul li a {
  float: left;
  line-height: 30px; 
  color: #333333;
  text-decoration: none;
  margin: 0;
  padding: 0 10px 0 20px;
  font-size: 11px;
}

ul.nav li:hover > ul li a:hover {
  color: #333333;
  text-decoration: none;
}

/* navigation */
.navigation {
    width:1080px;
    height: 40px;
    clear: both;
    margin: 25px auto;
    border-bottom: 1px solid #cccccc;
}

.nav-bar {
	width:1080px;
    height: 40px;
    clear: both;
    line-height:40px;
    font-size: 11px;
    text-align: right;
    box-sizing: border-box;
 	padding: 10px;
}
.main{
	width:1080px;
	min-height: 500px;
	margin: 10px auto 50px;
}
.main img{
	width: 100%;
	height: 100%
}
.main-title h3{
	text-align: center;
}
.main p{
	text-align: center;
	color: #999;
}

.main-box1{
	width: 500px;
	height: 300px;
	border: 1px dotted gray;
	float: left;
	margin-bottom: 100px;
}

.main-box2{
	width: 500px;
	height: 300px;
	border: 1px dotted gray;
	float: left;
	margin-left: 76px;
}

.main ul li{
	box-sizing: border-box;
	text-decoration: none;
}


/* footer */
.footer {
	clear:both;
    width:100%;
    height:40px;
    margin:100px auto 0;
    text-align:center;
    line-height: 40px;
    border-top:1px solid #cccccc;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    background: black;
    color: white;
}

.footer img{
	width: 20px;
	height: 20px;
	
}

