@charset "UTF-8";

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	padding: 0;
    margin: 0;
    font-family: IM_Hyemin-Bold, serif;
}

body {
    font-size: 13px;
}

.main-box{
	width: 50px; height: 30px;
	border: 2px solid white;
	background: white;
}

.main .clock .nowDate {
    color: black;
    width: 300px;
    font-size: 15px;
    border: none;
    text-align: center;
    display: inline-block;
    float: right;
    padding: 10px;
}

.main .clock .nowDate img{
    width:30px;
    height: 30px;
    float: left;
}

/* navigation */
.navigation {
    width:1080px;
    height: 40px;
    clear: both;
    margin: 10px auto;
    border-bottom: 1px solid #cccccc;
}

.nav-bar {
	width:1080px;
    height: 40px;
    clear: both;
    line-height:40px;
    font-size: 11px;
    text-align: right;
    box-sizing: border-box;
 	padding: 10px;
}

.main{
	width:1080px;
	min-height: 500px;
	margin: 0px auto 50px;
}

.main p{
    text-align: center;
    color: #999999;
}

.main-title h3{
	text-align: center;
}

.main-box1{
	width: 500px;
	height: 300px;
	border: 1px dotted gray;
	float: left;
	margin-bottom: 100px;
}

.main-box1 table{
    height: 100%;
    table-layout: fixed;
}

.main-box1 table tr{
    border-bottom: 2px solid black;
}

.main-box1 table tr .title{
    width: 40%;
}

.main-box1 table span{
    display: inline-block;
    padding:1px 3px;
    background: #ED4C00;
    color: #FFFFFF;
}

.main-box1 .notice {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.main-box2{
	width: 500px;
	height: 300px;
	border: 1px dotted gray;
	float: left;
	margin-left: 76px;
}

#bxslider {position:relative;margin:0 auto;padding:10px 65px;list-style:none;width:1080px;height:500px;overflow-x:hidden}
#bxslider li {display:none;position:absolute;left:0;top:0}
#bxslider img {width:1080px;height:500px;}

/* page */
#paginate {clear:both; padding:15px 0px;text-align:center;height:28px;white-space:nowrap;}
#paginate a {border:1px solid #ccc;height:28px;color:#000000;text-decoration:none;padding:4px 7px 4px 7px;margin-left:3px;line-height:normal;vertical-align:middle;outline:none; select-dummy: expression(this.hideFocus=true);}
#paginate a:hover, a:active {border:1px solid #ccc;color:#6771ff;vertical-align:middle; line-height:normal;}
#paginate .curBox {border:1px solid #e28d8d; background: #fff; color:#cb3536; font-weight:bold;height:28px;padding:4px 7px 4px 7px;margin-left:3px;line-height:normal;vertical-align:middle;}
#paginate .numBox {border:1px solid #ccc;height:28px;font-weight:bold;text-decoration:none;padding:4px 7px 4px 7px;margin-left:3px;line-height:normal;vertical-align:middle;}

/* 게시판에서 많이 쓰는 형식 */
.div-button{
    float: right;
    margin: 15px;
}

.div-button button{
    height: 30px;
    width: 90px;
    background: #EFEFEF;
    border: 1px solid white;
    border-radius: 5px;
}

/* footer */
.footer {
	clear:both;
    width:100%;
    height:40px;
    margin:100px auto 0;
    text-align:center;
    line-height: 40px;
    border-top:1px solid #cccccc;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    background: black;
    color: white;
}

.footer img{
	width: 20px;
	height: 20px;

}

