@charset "UTF-8";

.main .login{
	width:300px;
	margin: 80px auto 0;
}

.main .error-msg{
	padding: 20px 0;
	text-align: center;
	color: #f10d0d;
}

.main .index{
	width: 300px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}

.main .index img{
	width: 30px; 
	height: 30px; 
	float: right;
	margin-bottom: 0;
	
}

.index input{
	border: none;
	border-bottom: 2px solid #999 !important;
	font-size: 15px;
	color: #333;
	width: 100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px;
}

.main .bottom-text{
	margin: 150px 430px;
	position: relative;
}

.main .bottom-text a{
	font-weight: bold;
	font-size: 14px;
	color: burlywood;
}

.main .index button{
	width: 300px; height:50px;
	border-radius: 5px;
	border: 1px solid white;
	margin: 22px auto;
	background: #EFEFEF;
	font-size: 18px;
}



