@charset "UTF-8";


.member {
    width: 800px;
    margin: 50px auto;
}

.member .member-list {
    text-align: right;
    width: 100%;
    margin: 0px auto;
    border-spacing: 0px;
}

.member .member-list select {
    height: 25px;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 6px;
}

.member .member-list #search-input {
    height: 23px;
    border: none;
    border-bottom: 2px solid;
}

.member .member-list #search-button {
    height: 30px;
    width: 90px;
    background: #EFEFEF;
    border: 1px solid white;
    border-radius: 5px;
}

.member .member-list #search-reset {
    height: 30px;
    width: 90px;
    background: #EFEFEF;
    border: 1px solid white;
    border-radius: 5px;
}

.member-table {
    clear: both;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-spacing: 0;
    height: 30px;
}

.member-table tr:first-child {
    border-bottom: 2px solid black;
}

.number {
    text-align: center;
    margin: 20px auto;
}

.member-table tr {
    height: 30px;
}

.member-table tr td{
    width: 160px;
}

