@charset "UTF-8";

.viewport{
	width: 800px;
	margin: 50px auto;
	font-size: 13px;
}

.view-table{
	clear:both;
	width: 100%;
	font-size: 13px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-collapse: collapse;
}

.board-title{
	vertical-align: top;
	text-align: center;
}

.view-table tr{
	height: 35px;
	border-bottom: 1px solid black;
}

.title{
	background: aliceblue;
}

.view{
	width: 24%;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.viewCount{
	text-align: right;
	padding-right: 25px;
}

.view-title{
	text-align: center;
}

.view-content{
	height: 200px;
	padding: 10px 10px 10px 0;
	width: 100%;
	text-align: left;
}