@charset "UTF-8";


/* navigation */
.navigation {
    width:1080px;
    height: 40px;
    clear: both;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc;
}

.nav-bar {
	width:1080px;
    height: 40px;
    clear: both;
    line-height:40px;
    font-size: 11px;
    text-align: right;
    box-sizing: border-box;
 	padding: 10px;
}
.main{
	width:1080px;
	min-height: 500px;
	margin: 10px auto 50px;
}
.main .content-top img{
	float: left;
	width: 100%;
	height: 350px;
}

.main #cr{
	width: 100px; 
	height: 25px; 
	border-radius: 10px; 
	background: white;
}

.main .weather{
	width: 950px;
	height: 90px;
	padding: 5px 65px;
	float: left;
	margin-bottom: 5px;
}

.main .weather>img{
	float : left;
	 height: 70px;
	 width: 70px; 
	 margin-top: 10px; 
	 margin-left: 20px; 
}

.main .weather>p{
	float : left;
	font-size: 30px;
	margin-top: 30px;
	margin-left: 10px;
}

.main .box{
	margin-bottom: 100px;
}


.main .content-box img{
	width: 950px;
	height: 400px;
	padding: 10px 65px;
}

.main .content-box2{
	margin-top: 20px;
}

.main .content-box2 img{
	width: 50px;
	height : 50px;
	float : left;
	border-radius : 100px;
	padding-left: 65px;
}

.main .content-box2 span{
	padding-top: 20px;
	padding-left: 10px;
	
}

.main .content-box2 .content{
	padding: 26px 65px;
}


.main div .like-box{
	padding: 10px 65px;
}

.main div .like-box a{
	color: #f8a371;
	text-decoration: none;
	font-size: 15px;
}

.main div .like-box a:hover{
	color: #f8a371;
	text-decoration: none;
	font-size: 50px;
}

.main #up{
	height: 25px; 
	margin-right: 70px;
}

.main #up button{
	width: 100px; 
	height: 25px; 
	border-radius: 10px; 
	background: white;
	float: right;
	margin: 5px;
}

.main #cr button:hover, button:active{
	background: green;	
}

/* 하트 CSS 추가 */
.ico_like {
	position: relative;
	animation: ico_like 1s infinite;
	margin: 0 auto;
}

.ico_like:before, .ico_like:after{
	position: absolute;
	content: "";
	top : 0;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.ico_like:after{
	left: 0;
	-webkit-transform-origin:100% 100%;
	transform-origin: 100% 100%;
}

@keyframes ico_like {
	0% {transform: scale( .75 ); }
	20% {transform : scale( 1 );}
	40% {transform: scale( .75 ); }
	60% {transform: scale( 1 ); }
	80% {transform: scale( .75 ); }
	100% {transform: scale( .75 ); }
}
