@charset "UTF-8";

.write{
	width: 800px;
	margin: 50px auto;
}

.write-title{
	height: 20px;
}

.writeBoardForm p{
	padding: 10px;
	display: inline-block;
	width: 40px;
}

.writeBoardForm input{
	width: 90%;
	margin: 15px 0;
	border: none;
	border-bottom: 1px solid black;
	background: aliceblue;
	padding: 3px 0px 3px 10px;
}

.writeBoardForm input[type=checkbox]{
	width: 15px;
}
.writeBoardForm .write-content span{
	display: inline-block;
	height: 260px;
	width: 43px;
}

.writeBoardForm .write-content textarea{
	resize: none;
	width: 705px;
	height: 260px;
	display: inline-table;
	padding: 10px;
}

.writeBoardForm .upload{
	height: 25px;
}

.writeBoardForm .div-button{
	float: right;
	margin-right: 15px;
}

.writeBoardForm .div-button button{
	height: 30px;
	width: 90px;
	background: #EFEFEF;
	border: 1px solid white;
	border-radius: 5px;
}