@charset "UTF-8";

.write{
	width: 800px;
	margin: 50px auto;
}

.write-title{
	height: 20px;
}

.writeBoardForm{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.writeBoardForm p{
	padding: 10px;
	display: inline-block;
	width: 70px;
}

.writeBoardForm .write-title{
	width: 86%;
	margin: 15px 0;
	border: none;
	border-bottom: 1px solid black;
	background: aliceblue;
	padding: 3px 0 3px 10px;
}

.writeBoardForm input[type=checkbox]{
	width: 15px;
}

.writeBoardForm .write-content span{
	display: inline-block;
	height: 260px;
	width: 43px;
}

.writeBoardForm textarea{
	resize: none;
	width: 675px;
	height: 260px;
	display: inline-table;
	padding: 10px;
}

.writeBoardForm .upload{
	height: 25px;
}

/* travel */
.writeBoardForm .travel-box p{
	text-align: center;
}

.writeBoardForm .travel-box img{
	width: 30px;
	height : 30px;
	border-radius : 100px;
}

.writeBoardForm .travel-box .place{
	width: 62%;
	margin: 15px 0;
	border: none;
	border-bottom: 1px solid black;
	background: aliceblue;
	padding: 3px 0 3px 10px;
}

.writeBoardForm .imageList{
	display: inline-block;
}

.writeBoardForm .imageList a{
	color: crimson;
}